
.card {
    box-sizing: border-box;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15%;
  }
  .card button {
    background-color:green;
    text-align: center;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
  }